html {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f9fc;
    color: white;
    font-family: 'Courier New', monospace;
    margin: 0;
    min-height: 100vh;
}

#terminal {
    width: 80%;
    height: auto;
    margin: 20px auto;
    background-color: black;
    box-shadow: 0 0 10px black;
    overflow: auto;
    position: relative;
}

.title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#cmd-title,
#cmd-buttons {
    width: 200px; 
    height: auto; 
}

@media (max-width: 600px) {
    #cmd-title,
    #cmd-buttons {
        width: 140px; 
        height: auto; 
    }
}

.content {
    padding: 10px;
}

footer {
    color: black;
    text-align: center;
}

#commandInput {
    width: 100%;
    background-color: black;
    color: white;
    border: none;
    padding: 5px;
    font-family: 'Courier New', monospace;
}

#output {
    color: white;
    font-family: 'Courier New', monospace;
    margin-bottom: 10px;
}

#commandInput:focus {
    outline: none;
}

input:focus {
    outline: none;
}

.resume-container {
    text-align: center;
    padding: 10px;
}

.resume-container iframe {
    border: none;
    max-width: 100%;
}

.download-button {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: lightgrey;
    color: black;
    text-decoration: none;
    font-family: 'Courier New', monospace;
    border: none;
    cursor: pointer;
}

.contact-form {
    color: white;
}

.contact-form form {
}

.contact-form input,
.contact-form textarea {
}

.terminal-style {
    background-color: #000; 
    color: lightgray; 
    font-family: 'Courier New', monospace; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.contact-form-container {
    max-width: 600px;
    margin: 30px auto; 
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-form input,
.contact-form textarea {
    background-color: #333;
    border: 1px solid #555;
    color: white; 
    padding: 8px;
    border-radius: 3px;
}

.contact-form button {
    background-color: lightgray; 
    color: white;
}  

.list-container {
    text-align: center; /* Center align the content */
}

.list-container h3 {
    /* Style for the heading, if you want to change it */
}

.list-container ul {
    list-style: none; /* Removes bullet points */
    padding: 0; /* Removes default padding */
}

.list-container ul li {
    margin-bottom: 10px; /* Spacing between items */
}

.list-container ul li a {
    color: white; /* White text for links */
    font-weight: bold; /* Bold text */
    font-size: 1.2em; /* Larger text size, adjust as needed */
    text-decoration: none; /* Removes underline */
}

.list-container ul li a:hover {
    text-decoration: underline; /* Underline on hover for visual feedback */
}
